.header {
  text-align: center;
  color: lightcoral;
}

.wrapperbtn {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 1rem;
}

.button {
    opacity: 0.75;
    background-color: aquamarine;
    border: 1px;
    padding: 0.5rem 1rem .5rem 1rem;
    font-size: 1.3rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
    width: 100%;
}

.button:hover {
    opacity: 1;
}